/*-----------------------*
 *------ Utilities ------*
 *-----------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/*-----------------------*
 *--- Page structure ----*
 *-----------------------*/

html, body {
    background: #aaa;
    height: 100%;
}

.container {
    background: #eee;
    padding: 24px;
    margin-top: 10px;
    width: 90%;
    max-width: 900px;
    min-height: 100%;

    -webkit-transition: margin-top 0.25s ease-out;
    -moz-transition: margin-top 0.25s ease-out;
    -o-transition: margin-top 0.25s ease-out;
    transition: margin-top 0.25s ease-out;
    
    -webkit-transition: min-height 0.25s ease-out;
    -moz-transition: min-height 0.25s ease-out;
    -o-transition: min-height 0.25s ease-out;
    transition: min-height 0.25s ease-out;

    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

#spinner {
    display: none;
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
}

/* TODO: disable login view for now */
#login-page {
    display: none;
}

/*-----------------------*
 *------- Issues --------*
 *-----------------------*/

.issues-head {
    background-color: #000;
    background-image: -webkit-linear-gradient(top, #999, #666);
    margin-top: 20px;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.repo {
    float: left;
    color: #fff;
    text-shadow: #000 0 -1px 0;
    margin: 10px;
    line-height: 24px;
}

.num-issues {
    float: right;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-image: -webkit-linear-gradient(top, #f99, #c00);
    border: 3px solid #fff;
    border-radius: 30px;
    text-align: center;
    min-width: 20px;
    padding: 3px;
    margin: 8px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.table-bordered {
    border-radius: 0;
    background: #fff;
}

.issue-labels {
    line-height: 1.5em;
}

.issue-label {
    display: inline-block;
    line-height: 1em;
    font-size: 0.9em;
    border-radius: 3px;
    padding: 4px;
    margin-right: 5px;
}

table .numbers {
    text-align: right;
}
table .assignees {
    width: 60px;
    text-align: center;
    vertical-align: middle;
}

img.assignee {
    width: 32px;
    height: 32px;
}

.issue-title {
    font-weight: bold;
    color: #333;
}

.submitter {
    color: #999;
}

.type-pull {
    color: #afd3af;
}
.type-bug {
    color: #efbebe;
}

.milestone {
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    color: #333;
    float: right;
}

/*-----------------------*
 *------- Queries -------*
 *-----------------------*/

.query-container {
    border: 1px solid #ddd;
    background: #fff;
    margin-top: -18px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2) inset;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.query-refresh {
    float: right;
    width: 60px;
    height: 61px;
    border-left: 1px solid #ddd;
    background-color: #fafafa;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-repeat: no-repeat;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.query-refresh:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.query-refresh:active {
    background-image:none;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15),0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
}

.query-refresh img {
    margin: 14px;
}

.query {
    float: left;
    font-size: 14px;
    padding: 5px 8px 5px 8px;
}

.query-punctuation {
    float: left;
    color: #999;
    margin: 8px;
    padding-top: 18px;
}

.query-leaf {
    float: left;
}

.query-leaf-label {
    color: #999;
    height: 20px;
}

.query-leaf-value {
    border-radius: 3px;
    padding: 6px;
    font-weight: bold;
    vertical-align: middle;
    background: #ddd;
}

.query-leaf-value input {
    margin: -7px -4px -4px -4px;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
}

.query-delete {
    float: right;
    margin-left: 5px;
    background: url(images/sprites.png) no-repeat -18px 0;
    width: 18px;
    height: 18px;
}
.query-delete:hover {
    background-position: -36px 0;
}

.query-value {
    float: left;
}

.smart_autocomplete_container {
    border: 1px solid #999;
    background-color: #FFFFFF;

    /* smart auto complete doesn't correctly position the container
     * so these specific padding and margin values are necessary*/
    padding: 0px 8px 0px 0px;
    margin: 9px 0px 0px 0px;
}

.smart_autocomplete_container li {
    color: black;
    border-bottom: 1px solid;
    list-style: none;
    cursor: default;
    padding: 0px 2px 0px 4px;
}

li.smart_autocomplete_highlight {
    background-color: #e0f0fa;
}

.match-highlight {
    font-weight: bold;
}
