.page-header {
    margin-top: 200px;
    -webkit-transition: margin-top 0.25s ease-out;
    -moz-transition: margin-top 0.25s ease-out;
    -o-transition: margin-top 0.25s ease-out;
    transition: margin-top 0.25s ease-out;
}

#issues-page {
    display: none;
}

.issue-labels {
    line-height: 1.5em;
}

.issue-label {
    line-height: 1em;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    color: white;
    border-radius: 3px;
    padding: 3px;
}

img.assignee {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.query {
    border: 1px solid #ccc;
    font: 10px sans-serif;
}

.query-punctuation {
    display: inline-block;
}

.query-leaf {
    display: inline-block;
}

.query-leaf-label {
    color: #999;
}

.query-leaf-value {
    border-radius: 3px;
    padding: 2px;
    font-weight: bold;
}
.query-leaf-value.complete {
    border: 1px solid #ccc;
    background: #ccc;
}
.query-leaf-value.incomplete {
    border: 1px dotted #ccc;
}

